node {
    size:         20px;
    shape:        circle;

    fill-color:   white;
    stroke-mode:  plain;
    stroke-color: black;
    text-size:    16;
    text-style:   bold;
    text-alignment: center;
    text-color:   #FFF;
    text-offset: 0px, -4px;
    /*text-padding: 20px, 20px;*/
}
edge {
    /*size:           2px;*/
    fill-mode:      plain;
    /*fill-color:     gray;*/
    text-size:      14;
    text-style:     bold-italic;
    text-color:     #555;
    text-alignment: along;
    text-offset:    0px,-8px;
    text-padding:   0px,5px;
}

node.source {
    fill-color: blue;
    stroke-mode:  plain;
    stroke-color: green;
}

node.destination {
    fill-color: red;
    stroke-mode:  plain;
    stroke-color: green;
}

node.tag1 {
    fill-color: grey;
    stroke-mode:  plain;
    stroke-color: green;
}

edge.tag1 {
    stroke-mode:  plain;
    stroke-color: grey;
}

node.tag2 {
    fill-color: black;
    stroke-mode:  plain;
    stroke-color: green;
}

edge.tag2 {
    stroke-mode:  plain;
    stroke-color: purple;
}