node {
    size:         50px;
    shape:        circle;

    fill-color:   white;
    stroke-mode:  plain;
    stroke-color: black;
    text-size:    16;
    text-style:   bold;
    text-alignment: center;
    text-color:   #555;
    text-offset: 0px, -4px;
    /*text-padding: 20px, 20px;*/
}
edge {
    size:           2px;
    arrow-size:     4px;
    fill-mode:      plain;
    /*fill-color:     gray;*/
    text-alignment: along;
    text-size:      14;
    text-style:     bold-italic;
    text-color:     #555;
    text-offset:    0px,
    8px;
    /*text-padding:   0px,5px;*/
}

node.source {
    fill-color: blue;
    stroke-mode:  plain;
    stroke-color: green;
}

node.destination {
    fill-color: red;
    stroke-mode:  plain;
    stroke-color: green;
}

node.tag1 {
    fill-color: grey;
    stroke-mode:  plain;
    stroke-color: green;
}

edge.tag1 {
    stroke-mode:  plain;
    stroke-color: grey;
    size: 4px;
    arrow-size: 4px;
    fill-color: black;
}

node.tag2 {
    fill-color: black;
    stroke-mode:  plain;
    stroke-color: green;
}

edge.tag2 {
    stroke-mode:  plain;
    stroke-color: grey;
    fill-color: gray;
    size: 2px;
    arrow-size: 2px;
}